<div class="centered-box">
	<form {{action 'edit' on="submit"}}>
		<fieldset>
			<legend>Edit User</legend>
			<label>Username<br>{{input type='text' value=username disabled="disabled"}}</label>
			<label>Name<br>{{input type='text' value=name required="required" value=name}}</label>
			<label>Email<br>{{input type='text' value=email required="required" value=email}}</label>
			<label>Admin<br>{{input type='checkbox' value=admin checked=admin}}</label>
			<label>Scanner<br>{{input type='checkbox' value=scanner checked=scanner}}</label>
			<label><button {{action 'cancel' this}}>Cancel</button>{{input type='submit' value="Submit Changes"}}</label>
		</fieldset>
	</form>
</div>