<div class="details">
	<table class="double-column">
		<tbody>
			<tr>
				<td class="header">RFID</td><td>{{rfid}}</td>
				<td class="header">Item ID</td><td>{{item_id}}</td>
			</tr>
			<tr>
				<td class="header">Created By</td><td>{{created_by}}</td>
				<td class="header">Created Date</td><td>{{created_date}}</td>
			</tr>
			<tr>
				<td class="header">Last Change Date</td><td>{{last_status_change_date}}</td>
				<td class="header">Last Change User</td><td>{{last_status_change_user}}</td>
			</tr>
			<tr>
				<td class="header">Current Revision</td><td>{{current_revision}}</td>
				<td class="header">Current Revision Date</td><td>{{current_revision_date}}</td>
			</tr>
			<tr>
				<td class="header" >Current Stage</td><td>{{current_stage}}</td>
			</tr>
			<tr>
				<td class="header">Description</td>
				<td colspan="3">{{description}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="details">
	<table>
		<tbody>
			<tr class="header">
				<td></td>
				<td>Modeling</td>
				<td>Kitting</td>
				<td>Manufacturing</td>
				<td>QA/QC</td>
				<td>Shipped</td>
				<td>Arrival</td>
				<td>Installed</td>
				<td>Stopped</td>
			</tr>
			<tr>
				<td class="header">User</td>
				<td>{{stage1_user}}</td>
				<td>{{stage2_user}}</td>
				<td>{{stage3_user}}</td>
				<td>{{stage4_user}}</td>
				<td>{{stage5_user}}</td>
				<td>{{stage6_user}}</td>
				<td>{{stage7_user}}</td>
				<td>{{stage0_user}}</td>
			</tr>
			<tr>
				<td class="header">Date</td>
				<td>{{stage1_date}}</td>
				<td>{{stage2_date}}</td>
				<td>{{stage3_date}}</td>
				<td>{{stage4_date}}</td>
				<td>{{stage5_date}}</td>
				<td>{{stage6_date}}</td>
				<td>{{stage7_date}}</td>
				<td>{{stage0_date}}</td>
			</tr>
		</tbody>
	</table>
</div>