<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<ul class="nav nav-inverse dark-list">
				<li class="nav-header">In-Process</li>
				<li><a {{action 'setStage' 'ALL'}}>All</a></li>
				<li><a {{action 'setStage' 'MODELING'}}>Modeling</a></li>
				<li><a {{action 'setStage' 'KITTING'}}>Material Kitting</a></li>
				<li><a {{action 'setStage' 'MANUFACTURING'}}>Manufacturing</a></li>
				<li><a {{action 'setStage' 'QAQC'}}>QualityCheck</a></li>
				<li><a {{action 'setStage' 'SHIPPED'}}>Shipped</a></li>
				<li><a {{action 'setStage' 'ARRIVAL'}}>Arrival</a></li>
				<li><a {{action 'setStage' 'INSTALLED'}}>Installed</a></li>
				<li class="divider"></li>
				<li class="nav-header">Stopped</li>
				<li><a {{action 'setStage' 'STOPPED'}}>All</a></li>
			</ul>
		</div>
		<div class="span10">
			<table class="tables-items">
				<thead>
					<th>Current Stage</th>
					<th>RFID</th>
					<th>Item ID</th>
					<th>Description</th>
					<th>Last Change</th>
					<th>Revision</th>
				</thead>
				<tbody>
					{{#each filteredItems}}
					<tr>
						<td>{{current_stage}}</td>
						<td>{{rfid}}</td>
						<td>{{#link-to 'item' this}}{{item_id}}{{/link-to}}</td>
						<td>{{description}}</td>
						<td>{{last_status_change}}</td>
						<td>{{current_revision}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="content-body">
				{{outlet}}
			</div>
		</div>
	</div>
	<br>
</div>