<div class="row">
	<div class="tables-items no-hover">
		<table>
				<tr>
					<th>Item</th><th>Revision</th><th>Group</th><th>Stage</th><th>Created By</th><th>Created Date</th>
				</tr>
				<tr>
					<td>{{item_id}}</td><td>{{revision}}</td><td>{{group}}</td><td>{{current_stage_desc}}</td>
					<td>{{created_by}}</td><td>{{created_date}}</td>
				</tr>
				<tr>
					<th>Last Status Change User</th><th>Last Status Change Date</th><th>Hold Reason</th><th colspan="3">Comment</th>
				</tr>
				<tr>
					<td>{{last_status_change_user}}</td><td>{{last_status_change_date}}</td><td>{{reason}}</td><td colspan="3">{{comment}}</td>
				</tr>
		</table>
	</div>
</div>
<div class="row">
{{outlet}}
</div>