<div class="centered-box">
<form {{action 'login' on="submit"}}>
	<fieldset>
		<legend>Sign In</legend>
		<label>User ID:<br>{{input type='text' valueBinding='username' required="required"}}</label>
		<label>Password:<br>{{input type='password' valueBinding='password' required="required"}}</label>
		<label>Remember Me?: {{input type='checkbox' checked=remember}}</label>
	</fieldset>
	{{input type='submit' value="Log In"}}<br>
	<br>{{#link-to 'reset'}}Forgot your password?{{/link-to}}
</form>
</div>
