<div class="container-fluid">
	<div class="row-fluid">
		<div class="span10">
			<div class="header-summary">
				<span class="light-title">Summary of Overdue Items</span>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span2">
			<ul class="nav nav-inverse dark-list nav-pointer">
				<li class="nav-header">In-Process</li>
				<li><a {{action 'setStage' 'ALL'}}>All</a></li>
				<li><a {{action 'setStage' 'INTEGRATION START'}}>Integration Start</a></li>
				<li><a {{action 'setStage' 'INTEGRATION COMPLETE'}}>Integration Complete</a></li>
				<li><a {{action 'setStage' 'PARTS ALLOCATED'}}>Parts Allocated</a></li>
				<li><a {{action 'setStage' 'MANUFACTURING BEGIN'}}>Manufacturing Begin</a></li>
				<li><a {{action 'setStage' 'MANUFACTURING COMPLETE'}}>Manufacturing Complete</a></li>
				<li><a {{action 'setStage' 'QA/QC COMPLETE'}}>QA/QC Complete</a></li>
				<li><a {{action 'setStage' 'SHIPPED'}}>Shipped</a></li>
				<li class="divider"></li>
				<li class="nav-header">On Hold</li>
				<li><a {{action 'setStage' 'ON_HOLD'}}>All</a></li>
			</ul>
		</div>
		<div class="span10">
			<div class="tables-items">
				<table>
					<thead>
						<th><button {{action 'toggleSort' 'current_stage'}}>Current Stage</button></th>
						<th><button {{action 'toggleSort' 'rfid'}}>RFID</button></th>
						<th><button {{action 'toggleSort' 'item_id'}}>Item ID</button></th>
						<th><button {{action 'toggleSort' 'group'}}>Group</button></th>
						<th><button {{action 'toggleSort' 'last_status_change_date'}}>Last Change</button></th>
						<th><button {{action 'toggleSort' 'current_revision'}}>Revision</button></th>
					</thead>
					<tbody>
						{{#each filteredItems}}
						<tr>
							<td>{{current_stage}}</td>
							<td>{{rfid}}</td>
							<td>{{#link-to 'item' this}}{{item_id}}{{/link-to}}</td>
							<td>{{group}}</td>
							<td>{{last_status_change_date}}</td>
							<td>{{current_revision}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>