<div class="item-details-title"><span>Details</span></div>
<div class="details">
	<table class="double-column">
		<tbody>
			<tr>
				<td class="header">Item / Drawing</td><td class="details-text">{{item_id}}</td>
				<td class="header">Group</td><td class="details-text">{{group}}</td>
			</tr>
			<tr>
				<td class="header">Created By</td><td class="details-text">{{created_by}}</td>
				<td class="header">Created Date</td><td class="details-text">{{created_date}}</td>
			</tr>
			<tr>
				<td class="header">Last Change Date</td><td class="details-text">{{last_status_change_date}}</td>
				<td class="header">Last Change User</td><td class="details-text">{{last_status_change_user}}</td>
			</tr>
			<tr>
				<td class="header">Revision</td><td class="details-text">{{current_revision}}</td>
				<td class="header">Revision Date</td><td class="details-text">{{current_revision_date}}</td>
			</tr>
			<tr>
				<td class="header">Current Stage</td><td class="details-text">{{current_stage}}</td>
				<td class="header">Reason</td><td class="details-text">{{reason}}</td>
			</tr>
			<tr>
				<td class="header">Comment</td>
				<td colspan="3">{{comment}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="details">
	<table>
		<tbody>
			<tr class="header">
				<td></td>
				<td>Integration Begin</td>
				<td>Integration End</td>
				<td>Parts Allocated</td>
				<td>Manufacturing Begin</td>
				<td>Manufacturing End</td>
				<td>QA/QC Complete</td>
				<td>Shipped</td>
				<td>On Hold</td>
			</tr>
			<tr>
				<td class="header">User</td>
				<td class="details-text">{{stage1_user}}</td>
				<td class="details-text">{{stage2_user}}</td>
				<td class="details-text">{{stage3_user}}</td>
				<td class="details-text">{{stage4_user}}</td>
				<td class="details-text">{{stage5_user}}</td>
				<td class="details-text">{{stage6_user}}</td>
				<td class="details-text">{{stage7_user}}</td>
				<td class="details-text">{{stage0_user}}</td>
			</tr>
			<tr>
				<td class="header">Date</td>
				<td>{{stage1_date}}</td>
				<td>{{stage2_date}}</td>
				<td>{{stage3_date}}</td>
				<td>{{stage4_date}}</td>
				<td>{{stage5_date}}</td>
				<td>{{stage6_date}}</td>
				<td>{{stage7_date}}</td>
				<td>{{stage0_date}}</td>
			</tr>
		</tbody>
	</table>
</div>