<table class="table table-striped talbe-hover table-condensed dark-bg">
	<thead>
		<th>Current Stage</th>
		<th>RFID</th>
		<th>Item ID</th>
		<th>Description</th>
		<th>Last Status Change</th>
		<th>Revision</th>
	</thead>
	<tbody>
		{{#each}}
			<tr>
				<td>{{current_stage}}</td>
				<td>{{rfid}}</td>
				<td>{{item_id}}</td>
				<td>{{description}}</td>
				<td>{{last_status_change}}</td>
				<td>{{current_revision}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>