<div class="centered-box">
	<form {{action 'create' on="submit"}}>
		<fieldset>
			<legend>Create Notification</legend>
			<label>Title<br>{{input type='text' value=newNotification.title placeholder="Enter the title here..." required="required" }}</label>
			<label>Message<br>{{textarea value=newNotification.message cols='70' rows='5' placeholder="Enter the message here..." required="required" }}</label>
			<label><button {{action 'cancel' this}}>Cancel</button>{{input type='submit' value="Create"}}</label>
		</fieldset>
	</form>
</div>